// Set background image (pattern)

*{
  -ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  width: border-box;
  height: border-box;
  background: url("../pictures/wallpaperPokeballs.jpg") repeat fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

// Start styles in form

.login{
  position: relative;
  top: 50%;
  width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: #FF0000; // No encontrado
  border-radius: 4px;
}

.legend{ //Barra roja login
  position: relative;
  width: 100%;
  display: block;
  background: #FF0000;
  padding: 0px;
  color: #fff;
  font-size: 30px;

  &:after{
    content: "";
    background-image: url("../pictures/multy-user.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 152px -16px;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
/*.form {
text-align: center;
background-color:rgba(255,255,255,0.9);
}*/
.input{
  text-align:center;
  position: relative;
  width: 90%;
  margin: 15px auto;

  span{
    position: absolute;
    display: block;
    color: darken(#EDEDED, 10%);
    left: 10px;
    top: 8px;
    font-size: 20px;
  }

  input{
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);


    &:focus{
      padding: 10px 5px 10px 10px;
      outline: 0;
      border-color: #FF7052;
    }
  }
}

.submit{
  text-align:center;
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  background-image: url("../pictures/miniball-mini.jpg");
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;


  -moz-transition: all 2.3s ease-in-out;
  -webkit-transition: all 2.3s ease-in-out;
  -o-transition: all 2.3s ease-in-out;
  -ms-transition: all 2.3s ease-in-out;
  transition: all 2.3s ease-in-out;

  &:hover, &:focus{

    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);

    background: #FF7052;
    color: #fff;
    outline: 0;
  }
}

.feedback{
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;

  &:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;

  }
}
.flip-container {
    perspective: 1000;
    margin-left: 500px;
}
    /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
}

.flip-container, .front, .back {

    width: 320px;
    height: 80px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}


* {
    box-sizing: border-box;
    }

    .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
    content: "";
    clear: both;
    display: table;
}
html, body{
  width: border-box;
  height: border-box;
  background: url("../pictures/oakwallpaper.jpg") repeat fixed;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:50px;
}

p{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: DejaVu Sans Mono, monospace;
    margin-top:20px;
}

.container{
    width: 600px;
    height: 600px;
    text-align:center;
    margin: auto;
}
#subtitle{
    width: 1000px;
    height: 50px;
}

button{
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: DejaVu Sans Mono, monospace;
    border-radius: 10px;
}

.row{
    text-align: center;
    margin-top: 15px;
}
img{
    border-radius: 20px;
}