* {
    box-sizing: border-box;
    }

    .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
    content: "";
    clear: both;
    display: table;
}
html, body{
  width: border-box;
  height: border-box;
  background: url("../pictures/oakwallpaper.jpg") repeat fixed;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:60px;
}

p{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: DejaVu Sans Mono, monospace;
    margin-top:20px;
}

.container{
    width: 600px;
    height: 300px;
    text-align:center;
    margin: auto;
}
#subtitle{
    width: 1000px;
    height: 50px;
}

button{
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: DejaVu Sans Mono, monospace;
    border-radius: 10px;
}

.row{
    text-align: center;
    margin-top: 15px;
}
img{
    border-radius: 20px;
}
