@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto' , sans-serif;
    background: url("img/contactBackground.jpg") no-repeat center center fixed;
    background-size: cover;

}

.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}
.modal-content{
    background-color: darkslategrey;
    opacity: .75;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}
.form-group{
    margin-bottom: 25px;
}

.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    padding-left: 54px;
}
.fa-user{
    position: absolute;
    left: 20px;
    font-size: 30px;
    padding-top: 15px;
    color: slategray;
}
.fa-lock{
    position: absolute;
    left: 20px;
    font-size: 30px;
    padding-top: 15px;
    color: slategray;
}
.btn-info{
    background-color: darkcyan;
    color: azure;
}

.btn{
    background-color: darkcyan;
    width: 200px;
    color: azure;
}

.topnav{
    overflow: hidden;
    background-color: transparent !important;
}
.topnav a{
    float: left;
    display: block;
    color: #9eebcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    transition: 0.6s all;
}
.sign{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    cursor: pointer;
}


.img {
    float: left;
    width:  400px;
    height: 400px;
    background-size: cover;
    border-radius: 10px ;
    box-shadow: 0px 0px 2px #848484;
}
.left-align-text{
    text-align:left;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #008B8B;
    color: azure;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #138496;
    text-decoration-color: white;
}

/* Style the container/contact section */
.jumbotron-billboard{
    background-color: darkslategrey;
    opacity: .75;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
    font-family: 'Roboto', sans-serif;
    position: center;
    color: white;
}
/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
