@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto' , sans-serif;
    background: url("img/LoginBackground.jpg") no-repeat center center fixed;
    background-size: cover;

}

.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}
.modal-content{
    background-color: darkslategrey;
    opacity: .90;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
    opacity: .90;
}
.user-img img{
    height: 100px;
    width: 100px;
    border-radius: 5px ;
    opacity: .90;
    box-shadow: 0px 0px 2px #848484;
}
.form-group{
    margin-bottom: 25px;
    opacity: .90;
}

.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 0;
    opacity: .90;
    font-size: 18px;
    padding-left: 54px;
}
.fa-user{
    position: absolute;
    left: 20px;
    font-size: 30px;
    opacity: .90;
    padding-top: 15px;
    color: slategray;
}
.fa-lock{
    position: absolute;
    left: 20px;
    font-size: 30px;
    padding-top: 15px;
    opacity: .90;
    color: slategray;
}


.btn-info{
    background-color: darkcyan;
    color: azure;
}

button{
    width: 40%;
    margin: 5px 0 25px;
}
.image-img{
    margin: 0px 20px 0px 0px;
    height: 400px;
    width: 400px;
    border-radius: 5px ;
    box-shadow: 0px 0px 2px #848484;
}
.btn{
    background-color: darkcyan;
    width: 200px;
    color: azure;
}

.topnav{
    overflow: hidden;
    background-color: transparent !important;
}
.topnav a{
    float: left;
    display: block;
    color: #9eebcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    transition: 0.6s all;
}
.sign{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    cursor: pointer;
}























